<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="loanConnectionString" connectionString="Server=DESKTOP-5250CJU;Database=abLOAN;User Id=sa;Password=Home2010?;"/>
		<!--<add name="loanConnectionString" connectionString="Server=198.12.253.30;Database=abLOAN;User Id=abloan;Password=abloan123!;"/>-->
	</connectionStrings>
	<appSettings>
		<add key="ImageRetrieveUrl" value="http://localhost:60629/ProjectData/abLOAN/"/>
		<add key="ImageSavePath" value="D:\PROJECTS\ProjectData\abLOAN\"/>
		<add key="FileRetrievePath" value="http://localhost:60629/files/"/>
		<add key="FileSavePath" value="D:\PROJECTS\Web\abLoan\abLOAN\files\"/>
		<add key="EmailTemplates" value="D:\PROJECTS\Web\abLOAN\abLOAN\emailtemplates\"/>
		<add key="ToMailAddress" value=""/>
		<add key="FromMailAddress" value="webmail@al-dahash.com"/>
		<add key="FromMailPassword" value="web@al123"/>
		<add key="EmailSMTP" value="mail.al-dahash.com"/>
		<add key="EmailPort" value="25"/>
		<add key="EmailIsSSL" value="false"/>
		<add key="LibAuthKey" value="YCw2sgKi7v0lnZqwQ2i3ZS9h/3Jn5aNfqaJ5FtSS9I4="/>
		<add key="xsWidth" value="320"/>
		<add key="xsHeight" value="180"/>
		<add key="smWidth" value="640"/>
		<add key="smHeight" value="360"/>
		<add key="mdWidth" value="960"/>
		<add key="mdHeight" value="540"/>
		<add key="lgWidth" value="1280"/>
		<add key="lgHeight" value="720"/>
		<add key="xlWidth" value="1920"/>
		<add key="xlHeight" value="1080"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.5.2"/>
	</system.web>
</configuration>